<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<title>Contact Info</title>
		<link rel="stylesheet" href="style.css">
		<div align="right">
		     <a href="/logout">Logout</a>
		</div>
		<script src="https://app.mysquid.io/tfs/6480ea9e2cfb668a330b87a5/sdk"></script> 
	</head>
	<body align='center'>
		
		<h1>Contact Information</h1>
		<br>
		<p> Email: tylervaughndavis@gmail.com <br>    Phone: 469-781-4650</p>
		<p>Work: Student, Squid intern   <br>    Address: 6536 Crown Forest Dr Plano, TX</p>
		<br>
      <div class="bottomLinks">
		<a href="/shopping">Shopping Page</a>
		<a href="/aboutMe">All About Me</a>
		<a href="/loginSucess">Back to Login Page</a>
	  </div>
	</body>
</html>
